*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.news-aggregation-page-container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

/* top-banner */
.news-aggregation-page-container .top-banner {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 1);
}

/* top-banner-text */
.top-banner .top-banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-banner .top-banner-text .title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.top-banner .top-banner-text .content {
  margin: 24px 0 32px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(107, 112, 123, 1);
}

.top-banner .top-banner-text .btn {
  width: 344px;
  height: 60px;
  background-color: rgba(22, 132, 252, 1);
  border-radius: 6px;
  border: 2px solid rgba(22, 132, 252, 1);
  font-size: 24px;
  font-weight: 700;
}

/* 文章部分布局 */
.article-container {
  max-width: 1599px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

/* 左侧目录 */
.left-side {
  width: 376px;
  height: fit-content;
  padding: 32px 24px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #f6f7fa;
}

.left-side .menu-title {
  margin-bottom: 24px;
  font-size: 20;
  font-weight: 700;
}

.left-side .menu-container {
}

.left-side .menu-container a {
  height: 38px;
  padding: 0 16px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
}

.left-side .menu-container .sub-menu.active {
  background-color: #fff;
}

.nav-link {
  color: #333;
  padding: 8px 16px;
}

.left-side .menu-container .sub-menu a.sub-nav-link {
  padding: 0 16px 0 32px;
}

/* .left-side .menu-container a.nav-link:hover {
  background-color: #f8f9fa;
} */

.left-side .menu-container a.nav-link.active {
  background-color: #fff;
  color: #1684fc;
}

.nav-link.sub-is-active {
  background-color: #fff;
}

/* 中间内容区 */
.article-content {
  flex: 1;
  /* 自适应宽度 */
  min-width: 0;
  /* 防止flex布局中的内容溢出 */
  margin: 0 32px;
  /* 设置左右间距 */
}

/* 内容区的详情样式 */
.content-detail {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content-detail .breadcrumb a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.content-detail .breadcrumb-item.active {
  color: rgba(18, 18, 18, 1);
  font-weight: 500;
}

.content-detail .update-time {
}

.article-content .content {
    overflow: hidden;
}

.article-content .content img {
    width: 600px;
    height: auto;
}

/* 右侧资源位 */
.right-side {
  width: 376px;
  height: 516px;
    border-radius: 16px;
  flex-shrink: 0;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(233, 243, 255, 1);
}

.right-side .right-side-title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.right-side .right-side-content {
  width: 328px;
  height: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-side .right-side-content .content-box {
  width: 152px;
  height: 152px;
  padding: 24px 16px 18px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
}

.right-side .right-side-content .content-box:nth-child(2n) {
  margin-left: 24px;
}

.right-side .right-side-content .content-box .svg-icon {
  width: 54px;
  height: 54px;
  margin-bottom: 16px;
  background-color: gray;
}

.right-side .right-side-content .content-box p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(68, 68, 68, 1);
}

.right-side .btn {
  margin-top: 24px;
  background-color: rgba(22, 132, 252, 1);
  font-size: 20px;
  font-weight: 700;
}

.related-articles {
  margin: 80px 0 240px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.related-articles .related-articles-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

.related-articles .related-articles-card-groups {
  display: flex;
  justify-content: center;
}

.related-articles .related-articles-card {
  width: 356px;
  height: 411px;
  padding: 16px;
  margin-right: 32px;
  border-radius: 16px;
  box-shadow: 0px 30px 100px 0px rgba(33, 39, 158, 0.04);
}

.related-articles-card .card-image {
  width: 324px;
  height: 190px;
}

.related-articles-card .card-image img {
  width: 324px;
  height: 190px;
  border-radius: 12px;
}

.related-articles-card .card-title {
  height: 57px;
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.related-articles-card .card-description {
  height: 44px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.64);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.related-articles-card .card-footer {
  height: 32px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.related-articles-card .card-footer .card-type {
  width: 56px;
  height: 32px;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: rgba(22, 132, 252, 0.1);
  color: rgba(22, 132, 252, 1);
  font-size: 16px;
  text-align: center;
}

.related-articles-card .card-footer .learn-more {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(22, 132, 252, 1);
  text-decoration: none;
}

.related-articles-card .card-footer .learn-more span {
  margin-left: 10px;
  line-height: 26px;
}


/* wx css */
.fixed-link {
    position: fixed;
    top: 832px; 
    right: 32px; 
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000; 
    transition: top 0.5s ease; 
  }

.rectangle {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0px 30px 80px 0px rgba(33, 39, 158, 0.04);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .rectangle svg {
    fill: rgba(17, 22, 20, 1);
  }
  
  #wechat-btn:hover {
    background-color: rgba(22, 132, 252, 1);
  }
  
  #wechat-btn:hover svg,
  #wechat-btn svg:hover {
    fill: #fff;
  }
  
  .wechat {
    /* position: relative; */
  }
  
  .wechat-container {
    width: 178px;
    height: 201px;
    padding: 24px 24px 16px;
    border-radius: 12px;
    display: none;
    position: absolute;
    right: 60px;
    bottom: 50px;
    background-color: #fff;
    transition: all ease-in-out 0.5s;
    text-align: center;
  }
  
  .wechat-container img {
    width: 130px;
    height: 130px;
  }
  
  .wechat-container span {
    color: rgba(107, 112, 123, 1);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }