*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.news-aggregation-page-container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

/* top-banner */
.news-aggregation-page-container .top-banner {
  width: 100%;
  height: 600px;
  position: relative;
  background-color: rgba(240, 248, 255, 1);
}

/* top-banner-carousel */
.news-aggregation-page-container .top-banner .top-banner-carousel {
  width: 100%;
  height: 600px;
}

.news-aggregation-page-container
  .top-banner
  .top-banner-carousel
  .carousel-inner {
  width: 100%;
  height: 600px;
}

.news-aggregation-page-container
  .top-banner-carousel
  .carousel-inner
  .carousel-item,
.news-aggregation-page-container
  .top-banner-carousel
  .carousel-inner
  .carousel-item
  img {
  width: 100%;
  height: 100%;
}

.news-aggregation-page-container .carousel-indicators button {
  width: 24px;
  height: 8px;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4);
}

.news-aggregation-page-container .carousel-indicators button.active {
  width: 32px;
  background-color: #fff;
}

/* top-banner-text */

.top-banner .top-banner-text {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-banner .top-banner-text .title {
  font-size: 48px;
  font-weight: 700;
}

.top-banner .top-banner-text .content {
  margin: 32px 0;
  font-size: 20px;
  font-weight: 400;
  color: rgba(107, 112, 123, 1);
}

.top-banner .top-banner-text .btn {
  width: 240px;
  height: 60px;
  background-color: rgba(22, 132, 252, 1);
  border-radius: 6px;
  border: 2px solid rgba(22, 132, 252, 1);
  font-size: 24px;
  font-weight: 700;
}

.text-blue {
  color: rgba(22, 132, 252, 1);
}

.article-catalogary-nav {
  max-width: 1352px;
  height: 84px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 16px 9px;
  background-color: #fff;
}

.article-catalogary-nav ul {
  margin: auto;
  flex-wrap: nowrap;
}
.article-catalogary-nav ul .nav-item {
  width: 180px;
  height: 52px;
  margin: 0 5px;
}

.article-catalogary-nav ul .nav-item .nav-link {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(17, 22, 20, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
}

.article-catalogary-nav ul .nav-item .nav-link.active {
  color: #fff;

}

.article-catalogary-nav ul .nav-item .nav-link svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #000;
}

.article-catalogary-nav ul .nav-item .nav-link.active svg {
  fill: #fff;
}

.article-catalogary {
  width: 1320px;
  margin: auto;
}

.article-catalogary .article-list {
  width: 868px;
}

.article-catalogary .article-list .tab-pane .container {
  padding: 0;
}

.article-catalogary .article-list .card {
  margin-bottom: 48px;
  border: 0px;
}

.article-catalogary .article-list .article-content-card {
  width: 868px;
  height: 204px;
  display: flex;
}

.article-catalogary .article-list .article-content-card .img-fluid {
  width: 306px;
  height: 100%;
  margin-right: 36px;
  border-radius: 12px;
  /* object-fit: cover; */
}

.article-catalogary .article-list .article-content-card .article-description {
  width: 526px;
  height: 100%;
  color: rgba(107, 112, 123, 1);
}

.article-catalogary
  .article-list
  .article-content-card
  .article-description
  .card-title {
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #000;
}

.article-catalogary
  .article-list
  .article-content-card
  .article-description
  .card-text {
  max-height: 48px;
  margin-bottom: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 400;
  font-size: 16px;
}

.article-catalogary
  .article-list
  .article-content-card
  .article-description
  .cart-detail {
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-catalogary
  .article-list
  .article-content-card
  .article-description
  .cart-detail
  .card-type {
  width: 56px;
  height: 32px;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: rgba(22, 132, 252, 0.1);
  color: rgba(22, 132, 252, 1);
  font-size: 16px;
  text-align: center;
}

.right-side {
  margin-bottom: 32px;
  border-radius: 16px;
  background-color: rgba(246, 247, 250, 1);
}

.tool-recommend {
  width: 376px;
  max-height: 332px;
  padding: 32px 24px;
}

.tool-recommend .tool-recommend-card {
  width: 328px;
  max-height: 96px;
  margin-top: 24px;
  padding: 24px 24px 24px 16px;
  border-radius: 12px;
  background-color: #fff;
}

.tool-recommend .tool-recommend-card img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  align-self: flex-start;
}

.tool-recommend .tool-recommend-card .fw-bold {
}

.tool-recommend .tool-recommend-card .text-muted {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 16px;
}

.subject-article {
  width: 376px;
  height: 758px;
  padding: 32px 24px;
}

.side-tab .side-tab-title {
  margin-bottom: 0;
  margin-right: 16px;
  font-size: 400;
  line-height: 28px;
  color: rgba(107, 112, 123, 1);
}

.side-tab .side-tab-title.active {
  color: #000;
  font-weight: 700;
}

.side-tab-content .article-card {
  width: 328px;
  height: 190px;
  margin-top: 24px;
  padding: 32px 16px;
  border-radius: 12px;
  background-color: #fff;
}

.side-tab-content .article-card.figma {
  height: 214px;
}

.side-tab-content .article-card img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  align-self: flex-start;
}

.side-tab-content .article-card .text-muted {
  font-size: 16px;
}

.side-tab-content .img-article-card {
  width: 328px;
  height: 198px;
  margin-top: 24px;
  position: relative;
}

.side-tab-content .img-article-card .card-image {
  width: 328px;
  height: 154px;
}

.side-tab-content .img-article-card .card-image img {
  width: 328px;
  height: 154px;
  border-radius: 12px;
}

.side-tab-content .img-article-card .card-title {
  height: 40px;
  position: absolute;
  bottom: 44px;
  border-radius: 0 0 12px 12px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.side-tab-content .img-article-card .article-detail {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(17, 22, 20, 1);
}

.side-tab-content .img-article-card .artist img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.side-tab-content .img-article-card .artist,
.side-tab-content .img-article-card .artist-job {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.hot-article {
  width: 376px;
  height: 939px;
  padding: 28px 24px;
}

.hot-article .hot-article-card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot-article .hot-article-card img {
  width: 328px;
  height: 202px;
  border-radius: 12px;
}

.hot-article .hot-article-card .hot-article-title {
  max-width: 328px;
  height: 19px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.hot-article .btn {
  width: 328px;
  height: 48px;
  margin-top: 24px;
  background-color: rgba(22, 132, 252, 1);
  font-size: 20px;
  font-weight: 700;
}

.pagination .page-item {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 0 10px;
}

.pagination .page-item .page-link {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  color: rgba(107, 112, 123, 1);
  font-size: 16px;
  text-align: center;
}

.pagination .page-item.active .page-link {
  background-color: rgba(22, 132, 252, 1);
  color: #fff;
}

.pagination .page-item .page-link:focus {
  box-shadow: none;
}

.explore-more {
  margin: 0 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-more .explore-more-title {
  margin-bottom: 64px;
  font-size: 48px;
  font-weight: 700;
}

.explore-more .explore-link-groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.explore-more .explore-link {
  width: 306px;
  height: 156px;
  padding: 22px 39px 30px;
  margin: 0 16px;
  border-radius: 15px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.explore-more .svg-icon {
  width: 68px;
  height: 68px;
}

.explore-more .link-content {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
}

.explore-more .link-text {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.explore-more .link-arrow {
  line-height: 36px;
}

.fixed-link {
  position: fixed;
  top: 832px; 
  right: 32px; 
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1000; 
  transition: top 0.5s ease; 
}

.rectangle {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 30px 80px 0px rgba(33, 39, 158, 0.04);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rectangle svg {
  fill: rgba(17, 22, 20, 1);
}

#wechat-btn:hover {
  background-color: rgba(22, 132, 252, 1);
}

#wechat-btn:hover svg,
#wechat-btn svg:hover {
  fill: #fff;
}

.wechat {
  /* position: relative; */
}

.wechat-container {
  width: 178px;
  height: 201px;
  padding: 24px 24px 16px;
  border-radius: 12px;
  display: none;
  position: absolute;
  right: 60px;
  bottom: 50px;
  background-color: #fff;
  transition: all ease-in-out 0.5s;
  text-align: center;
}

.wechat-container img {
  width: 130px;
  height: 130px;
}

.wechat-container span {
  color: rgba(107, 112, 123, 1);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}